html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
    /*the two selectors above(html{box-sizing and *:before, *:after{,  create "The Box Model Fix". Also note that auto-complete attempts to 
    input two colons in front of before and after. ALWAYS ADD!!*/
}
body{
    color: #343434;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    background: gray;
    text-align: left;
    font-size: 20px;
    /*added line-heigh to create space between lines*/
    line-height: 1.5;
    /*Below google fonts were used through a link embedded in the html file*/
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}
h1{
    font-size: 100px;
    line-height: 1;/*overrides inherited line-height from body selector */
}
h2{
    font-size: 50px;
    
    
}
h1, h2{
    /*apply google fonts to h1 and h2 elements*/
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
    /*the above margin property prevents any margin space between elements*/
}
h3{
    font-size: 30px;
}

.content-wrap{
    width: 80%;
    /* the property below correctly aligns the content */
    margin: 0 auto;
    padding: 60px 0;
}
a{
    color: #FFE66D;
    display: inline-block;
    
}
a:link{
    color: gold;
   

}
a:visited{
    color: red;

}
a:focus{
    outline: 3px solid black;


}
a:hover{
    text-decoration: none;
    color: gold;
    opacity: 80%;
    
}
a:active{
    color:black

}
header{
    background: #2F3061;
    color: #F7FFF7;
    text-align: center;
}
#name{
    text-shadow: 4px 4px;
    /*This is an Id for the first h1 element*/
    
}
img{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*a:link{
    color: gold;
    font-size: 18pt;
    text-decoration: none;
}
a:visited{
    color: red;
    font-size: 18pt;
    text-decoration: none;

}
a:focus{
    outline: 1px solid black;
    text-decoration: none; 

}
a:hover{
    color:white;
    font-size: 18pt;
    text-decoration: none;

}
a:active{
    color:greenyellow;
    font-size: 18pt;
    text-decoration: none;

}
styles for link using pseudo selectors*/
.projects{
    background: royalblue;
    text-align: left;
   
    


   
}
.projects a{
    color: #F7FFF7;
    background: gold;
    padding: 2px;
    border-radius: 8px;
    text-decoration: none;
    
}
.projects a:link{
    background: gold;
    
}
.projects a:visited{
    background: red;
    
}
.projects a:focus{
   outline: 3px solid black;
}
.projects a:hover{
    background: gold;
    opacity: 80%;
}
.projects a:active{
    background: black;  
}
.project-item{
    overflow: hidden;
    border-bottom: 1px dashed darkgrey ;
    padding: 20px 0;
    /*use of the overflow property cleared the float which
    otherwised would have staggered the text incorrectly*/
}
.project-item img{
    float: left;
    /*the above selector and properties float the image
    to the left of the content*/
    margin-right: 20px;
    /*the above property adds more space between the image and text*/
}
.project-item h3 {
    margin-top: 0;
    /*the above selector and property aligns the h3 of
    each project with its relevant image*/
}
.work-experience{
    background: aqua;
    text-align: center;
}
.education{
    background: skyblue;
    text-align: center; 

}
footer{
    background: darkblue ;
    color: #F7FFF7;
    text-align: center;
}
.cooler{
    text-align: center;
    font-size: 70px;
}
.coolerKid{
    text-align: center;
    font-size: 30px;

}
.coolerKidKid{
    text-align: center;
    font-size: 25px;

}




/*Practice styles while working through tutorial
h1{
    color: gold;
}
h2{
    color: gold;
}
.cool{
    font-style: italic;
}
.cooler{
    font-family: Georgia, 'Times New Roman', Times, serif    ;
}
#name{
    font-size: 40pt;
    background-color: black;
}
a{
    color: black;

}
section a{
    color: green;

}
section p a{
    color: pink;

}
.oneTime p{
    color: purple;
}
*/
