body{
    color: #343434;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background: gray;
    text-align: left;
    font-size: 20pt;
}
a{
    color: #FFE66D;
    
}
a:link{
    color: gold;
   

}
a:visited{
    color: red;

}
a:focus{
    outline: 3px solid black;


}
a:hover{
    text-decoration: none;
    color: gold;
    opacity: 80%;
    
}
a:active{
    color:black

}
header{
    background: #2F3061;
    color: #F7FFF7;
    text-align: center;
}
#name{
    font-size: 30pt;
}
img{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*a:link{
    color: gold;
    font-size: 18pt;
    text-decoration: none;
}
a:visited{
    color: red;
    font-size: 18pt;
    text-decoration: none;

}
a:focus{
    outline: 1px solid black;
    text-decoration: none; 

}
a:hover{
    color:white;
    font-size: 18pt;
    text-decoration: none;

}
a:active{
    color:greenyellow;
    font-size: 18pt;
    text-decoration: none;

}
styles for link using pseudo selectors*/
.projects{
    background: purple;
    text-align: center;
    


   
}
.projects a{
    color: #F7FFF7;
    background: gold;
    padding: 2px;
    border-radius: 8px;
    text-decoration: none;
}
.projects a:link{
    background: gold;
    
}
.projects a:visited{
    background: red;
    
}
.projects a:focus{
   outline: 3px solid black;
}
.projects a:hover{
    background: gold;
    opacity: 80%;
}
.projects a:active{
    background: black;
    
}
.work-experience{
    background: #A1C6D7;
    text-align: center;
}
.education{
    background: green;
    text-align: center; 

}
footer{
    background: darkblue ;
    color: #F7FFF7;
    text-align: center;
}



/*Practice styles while working through tutorial
h1{
    color: gold;
}
h2{
    color: gold;
}
.cool{
    font-style: italic;
}
.cooler{
    font-family: Georgia, 'Times New Roman', Times, serif    ;
}
#name{
    font-size: 40pt;
    background-color: black;
}
a{
    color: black;

}
section a{
    color: green;

}
section p a{
    color: pink;

}
.oneTime p{
    color: purple;
}
*/
